@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("./../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("./../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("./../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("./../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

/* Common styles */
body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.button {
  min-width: 160px;
  height: 20px;
  font-family: "Raleway";
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: none;
  background: none;
}

.button--active {
  color: #ffe17f;
  background-color: #000000;
}

.button--outlined {
  padding: 17px 0 18px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  outline: none;
  background: transparent;
  border: 3px solid rgba(0, 0, 0, 0.1);
  height: 55px;
}

.columns {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  color: #444444;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Header */
.header__container {
  width: 1075px;
  height: 150px;
  margin: 40px auto 0 auto;
  padding: 49px 25px 0 60px;
  position: relative;
  color: inherit;
  background: #ffe17f;
}

.header__logo {
  position: absolute;
  height: 36px;
  top: -23px;
  left: 61px;
}

.user-navigation {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.user-navigation__link {
  position: relative;
  color: inherit;
  font-size: 16px;
  line-height: 19px;
  text-decoration: inherit;
}

.user-navigation__link--search {
  padding-left: 36px;
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation__link--logout {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation__link--user {
  padding-left: 25px;
}

.user-navigation__link--compare {
  padding-left: 20px;
}

.user-navigation__link--cart {
  padding-left: 41px;
}

.user-navigation__link--search::before,
.user-navigation__link--user::before,
.user-navigation__link--compare::before,
.user-navigation__link--cart::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.user-navigation__link--search::before {
  width: 15px;
  height: 15px;
  background: url("/img/icons/header/search.svg") #ffe17f no-repeat center /
    contain;
}

.user-navigation__link--user::before {
  width: 13px;
  height: 12px;
  background: url("/img/icons/header/user.svg") #ffe17f no-repeat center /
    contain;
}

.user-navigation__link--compare::before {
  width: 10px;
  height: 12px;
  background: url("/img/icons/header/compare.svg") #ffe17f no-repeat center /
    contain;
}

.user-navigation__link--cart::before {
  width: 16px;
  height: 14px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  background: url("/img/icons/header/cart.svg") #ffe17f no-repeat center /
    contain;
}

.user-navigation__items-in-cart-wrapper {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
}

.main-navigation {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.main-navigation__link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: inherit;
  color: inherit;
}

/* Main */
.page__main {
  flex-grow: 1;
}

.promo__container {
  width: 1160px;
  margin: 0 auto;
}

/* Slider */
.slider__item {
  position: relative;
  width: 1160px;
  height: 560px;
  display: flex;
}

.slider__item::after {
  position: absolute;
  top: 80px;
  right: 49px;
  font-weight: 800;
  font-size: 180px;
  text-align: right;
  color: #ffffff;
}

.slider__item:first-child::after {
  content: "01";
}

.slider__item:nth-child(2)::after {
  content: "02";
}

.slider__item:last-child::after {
  content: "03";
}

.slider__item::before {
  content: "";
  position: absolute;
  background: #ffe17f;
  width: 100%;
  height: 150px;
  z-index: -1;
}

.slider-item__description-wrapper {
  padding-top: 121px;
}

.slider-item__description {
  color: #444444;
}

.slider-item__feature-name {
  font-size: 16px;
  font-weight: normal;
  color: #444444;
}

.slider-item__feature-text {
  font-size: 36px;
  font-weight: normal;
}

.slider__button--next,
.slider__button--previous {
  width: 20px;
  height: 60px;
  border: none;
}

.slider__button--next {
  background: url("/img/icons/arrow-right.svg") #fff center / contain no-repeat;
}

.slider__button--previous {
  background: url("/img/icons/arrow-left.svg") #fff center / contain no-repeat;
}

/* Catalog */
.catalog {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}

.catalog__container {
  width: 1160px;
  margin: 0 auto;
}

.catalog__item {
  width: 160px;
  height: 253px;
}
.catalog__image-wrapper {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe17f;
}

.catalog__image--monopod {
  align-self: flex-end;
}

.catalog__link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: inherit;
  text-decoration: none;
}

/* Services */
.main__services {
  background: #f0f0f0;
}

.main__services::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 169px;
}

.services__container {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}

.tabs__list {
  list-style: none;
}
.tab__image {
  width: 132px;
  height: 158px;
}

.tab__description {
  color: #444444;
}

.tab__image--delivery {
  background: url("/img/services/delivery.svg") center / contain no-repeat;
}

.tab__image--warranty {
  background: url("/img/services/warranty.svg") center / contain no-repeat;
}

.tab__image--credit {
  background: url("/img/services/credit.svg") center / contain no-repeat;
}

/* Shipping of rare products */
.shipping-of-rare-products__inner {
  width: 1160px;
  height: 100px;
  margin: 90px auto 97px auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
}

.shipping-of-rare-products__text {
  padding: 37px 125px 43px 140px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.shipping-of-rare-products__inner::before {
  content: "";
  position: absolute;
  width: 125px;
  height: 100px;
  left: 0;
  top: 0;
  background: url("/img/icons/shipping.svg") #ffe17f center / 47px 31px
    no-repeat;
}

.shipping-of-rare-products__inner::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  right: 33px;
  top: 50%;
  background: url("/img/icons/info-grey.svg") rgba(220, 220, 220, 0.5) center /
    2px 12px no-repeat;
  border-radius: 50%;
  transform: translateY(-50%);
}

/* About */
.main__about,
.main__contacts {
  width: 560px;
}

.about__line,
.contacts__line {
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about__text,
.about__delivery-options {
  color: #444444;
}

.about__delivery-companies-item {
  font-weight: 700;
  line-height: 20px;
}

/* Contacts */
.contacts__schedule {
  list-style: none;
}

.contacts__text,
.contacts__contacts-item,
.contacts__schedule-item {
  color: #444444;
  font-style: normal;
}

/* Subscribe */
.main__subscribe {
  background: #f0f0f0;
}

.subscribe__container {
  margin: 0 auto;
  width: 1160px;
}

.subscribe__text {
  color: #444444;
}

.subscribe__form {
  display: flex;
}

.subscribe__form-field {
  width: 601px;
  height: 55px;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.subscribe__form-field::placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.subscribe__for-free-tip {
  position: relative;
  padding-left: 35px;
  color: #444444;
}

.subscribe__for-free-tip::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0;
  background: url("/img/icons/done.svg") center / 14px 14px no-repeat;
}

.subscribe__form-submit {
  width: 260px;
}

/* Footer */
.page__footer {
  color: #ffffff;
  background: #444444;
}

.footer__container {
  width: 1160px;
  margin: 0 auto;
}

.footer__contacts-item {
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

.socials__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}

/* Socials */
.socials__line {
  width: 80px;
  height: 7px;
  background-color: #ffc700;
}

.socials__academy-link {
  width: 115px;
  height: 33px;
}

.socials__item {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.socials__item--facebook {
  background: url("/img/icons/socials/facebook.svg") rgba(255, 255, 255, 0.3)
    center / 9px 18px no-repeat;
}

.socials__item--instagram {
  background: url("/img/icons/socials/instagram.svg") rgba(255, 255, 255, 0.3)
    center / 16px 16px no-repeat;
}

.socials__item--twitter {
  background: url("/img/icons/socials/tweeter.svg") rgba(255, 255, 255, 0.3)
    center / 15px 14px no-repeat;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.breadcrumbs-link {
  font-style: 16px;
  line-height: 19px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

/* Catalog page */
.catalog-page {
  display: flex;
}

.catalog-page__columns {
  width: 100%;
  display: flex;
  justify-content: stretch;
}

.catalog-page__column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.catalog-page__container {
  width: 1160px;
  margin: 0 auto;
}

.catalog-page__filters {
  width: 468px;
  background: #e5e5e5;
  grid-area: a;
}

.form-title {
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  
}

.filters__title {
  margin: 0;
  width: 100%;
  padding: 25px 32px 25px 200px;
  display: block;
  background-color: #dcdcdc;
}

.filters__container {
  width: 200px;
  margin-left: auto;
  margin-right: 69px;
}

.filter__name {
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.filter__input,
.price-range-label {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  background: none;
  border: none;
}

.filter__label-text {
  font-size: 16px;
  line-height: 19px;
}

.catalog-page__sorting-container {
  height: 70px;
  padding-left: 72px;
  display: flex;
  align-items: center;
  background: #ebebeb;
}

.catalog-page__sorting {
  display: flex;
  align-items: center;
}

.sorting__type {
  font-size: 16px;
  line-height: 19px;
  background: none;
  border: none;
}

.catalog-page__abs-sorting-button,
.catalog-page__desc-sorting-button {
  width: 11px;
  height: 10px;
}

.catalog-page__abs-sorting-button {
  background: url("/img/icons/sort-up.svg") center / 11px 10px no-repeat;
}

.catalog-page__desc-sorting-button {
  background: url("/img/icons/sort-down.svg") center / 11px 10px no-repeat;
}

.catalog-page__sorting-button--active {
  opacity: 0.2;
}

/* Products */
.catalog-page__products-wrapper {
  width: 760px;
  padding-left: 72px;
  padding-top: 69px;
}

.catalog-page__products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.product {
  position: relative;
  width: 360px;
  height: 462px;
}

.product__title {
  font-weight: bold;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.product__price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.product__label-wrapper {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 27px;
  right: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.6);
}

.product__label {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

/* Pagination */
.catalog-page__pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  background: #ebebeb;
}

.pagination__link {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  color: rgba(68, 68, 68, 0.3);
}

.pagination__link--previous-page,
.pagination__link--next-page {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
