@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("./../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("./../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("./../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("./../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

/* Common styles */
body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.button {
  padding: 14px 0 16px 0;
  height: 20px;
  display: block;
  position: relative;
  font-family: "Raleway";
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: none;
  background: none;
  transition: 0.2s all ease-in;
  cursor: pointer;
}

.button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  left: 0;
  top: 20px;
  background-color: #ffe17f;
  z-index: -1;
  transition: 0.2s all ease-in;
}

.button:focus::after {
  background-color: #af4fff;
}

.button:focus {
  outline: none;
}

.button:hover::after {
  top: 0;
  height: 100%;
}

.button:active {
  opacity: 0.3;
}

.button:active::after {
  background-color: #ffe17f;
}

.button--outlined {
  height: 55px;
  padding: 17px 0 18px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  outline: none;
  background: transparent;
  border: 3px solid rgba(0, 0, 0, 0.1);
}

.columns {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  color: #444444;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Header */
.header__container {
  width: 1080px;
  margin: 40px auto 0 auto;
  padding: 36px 40px 40px 40px;
  position: relative;
  color: inherit;
  background-color: #ffe17f;
}

.header__container--main-page {
  padding-bottom: 0;
}

.header__logo {
  position: absolute;
  height: 36px;
  top: -23px;
  left: 61px;
}

.header__navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 29px;
}

.header__search {
  margin: 0;
  position: relative;
  flex-basis: 540px;
  display: flex;
}

.header__search:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background: #ffe17f url("../img/icons/header/search.svg") no-repeat center /
    contain;
}

.search__input {
  padding: 8px 16px 8px 52px;
  flex-grow: 1;
  box-sizing: border-box;
  border: 2px solid #000;
  border-right-width: 1px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: transparent;
  color: #000;
  font-size: 16px;
  line-height: 19px;
  transition: 0.2s border-color ease-in;
}

.search__input:placeholder-shown {
  border-color: transparent;
  border-radius: 20px;
}

.search__input:placeholder-shown ~ .search__submit {
  display: none;
}

.search__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search__input:focus {
  outline: none;
  border: 2px solid #af4fff;
}

.search__input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search__submit {
  padding: 8px 0;
  width: 160px;
  height: 100%;
  right: 0;
  display: block;
  background-color: unset;
  border: 2px solid #000;
  border-left-width: 1px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  box-sizing: border-box;
  transition: 0.2s all ease-in;
}

.search__submit:focus {
  outline: none;
  border: 2px solid #af4fff;
}

.search__submit:hover {
  background-color: #000;
  color: #fff;
}

.search__submit:active {
  background-color: #000;
  color: rgba(255, 255, 255, 0.3);
  border-color: #000;
}

.user-navigation {
  flex-basis: 50%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-navigation__item:first-child {
  flex-grow: 1;
}

.user-navigation__link {
  padding: 8px 0 8px 40px;
  width: 100%;
  position: relative;
  color: inherit;
  font-size: 16px;
  line-height: 19px;
  text-decoration: inherit;
  border: 2px solid transparent;
  border-radius: 20px;
  transition: 0.2s all ease-in;
}

.user-navigation__link--logout {
  color: rgba(0, 0, 0, 0.3);
  padding: 8px 20px 8px 20px;
}

.user-navigation__link--user {
  padding-left: 44px;
  padding-right: 19px;
}

.user-navigation__link--compare {
  padding-left: 41px;
  padding-right: 19px;
}

.user-navigation__link--cart {
  padding-left: 42px;
  padding-right: 18px;
}

.user-navigation__link--user::before,
.user-navigation__link--compare::before,
.user-navigation__link--cart::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.user-navigation__link--user::before {
  left: 19px;
  width: 13px;
  height: 12px;
  background: #ffe17f url("../img/icons/header/user.svg") no-repeat center /
    contain;
}

.user-navigation__link--compare::before {
  left: 19px;
  width: 10px;
  height: 12px;
  background: #ffe17f url("../img/icons/header/compare.svg") no-repeat center /
    contain;
}

.user-navigation__link--cart::before {
  width: 16px;
  height: 14px;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  background: #ffe17f url("../img/icons/header/cart.svg") no-repeat center /
    contain;
}

.user-navigation__link--cart::after {
  content: "2";
  position: absolute;
  width: 21px;
  height: 21px;
  left: 3px;
  top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
}

.user-navigation__link:focus {
  outline: none;
  border-color: #af4fff;
}

.user-navigation__link:hover {
  opacity: 0.6;
}

.user-navigation__link:active {
  border-color: transparent;
  opacity: 0.3;
}

.main-navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-basis: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: center;
}

.main-navigation__item--catalog {
  flex-basis: 540px;
}

.main-navigation__item--catalog .main-navigation__link::before {
  content: "";
  width: 50px;
  height: 50px;
  top: 50%;
  left: 267px;
  position: absolute;
  border-radius: 50%;
  transform: translateY(-50%);
  border: 2px solid #000;
  background: transparent url("../img/icons/plus.svg") 50% 50% / 16px 16px
    no-repeat;
  opacity: 0.2;
  transition: 0.2s all ease-in;
}

.main-navigation__item--catalog .main-navigation__link {
  padding-right: 20px;
  width: max-content;
  position: relative;
}

.main-navigation__item--contacts {
  flex-grow: 1;
}

.main-navigation__item--contacts .main-navigation__link {
  margin-left: auto;
  width: max-content;
  text-align: right;
}

.main-navigation__link {
  display: block;
  padding: 12px 18px 12px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: inherit;
  text-align: center;
  box-sizing: border-box;
  border-radius: 25px;
  border: 2px solid transparent;
  color: inherit;
  transition: 0.2s all ease-in;
}

.main-navigation__link:not(:first-child) {
  max-width: 140px;
}

.main-navigation__link:focus {
  border-color: #af4fff;
  outline: none;
}

.main-navigation__link--catalog:hover::before {
  background-image: url("../img/icons/minus.svg");
  opacity: 1;
}

.main-navigation__link--delivery:hover,
.main-navigation__link--warranty:hover,
.main-navigation__link--contacts:hover {
  text-underline-offset: 8px;
  text-decoration: underline #000 2px;
}

.main-navigation__link--catalog:active {
  border-color: transparent;
  opacity: 0.3;
}

.main-navigation__link--catalog:active::before {
  background-image: url("../img/icons/minus.svg");
  opacity: 0.3;
}

.main-navigation__link--delivery:active,
.main-navigation__link--warranty:active,
.main-navigation__link--contacts:active {
  border: none;
  text-underline-offset: 8px;
  text-decoration: underline #000 2px;
  opacity: 0.3;
}

/* Main */
.page__main {
  flex-grow: 1;
}

.promo__container {
  width: 1160px;
  margin: 0 auto;
}

/* Slider */
.slider {
  position: relative;
  margin-bottom: 70px;
}

.slider__item {
  display: none;
  position: relative;
  width: 1160px;
  height: 560px;
  gap: 40px;
}

.slider__item--active {
  display: flex;
}

.slider__item::after {
  position: absolute;
  top: 80px;
  right: 49px;
  font-weight: 800;
  font-size: 180px;
  text-align: right;
  color: #ffffff;
  z-index: -1;
}

.slider__item:first-child::after {
  content: "01";
}

.slider__item:nth-child(2)::after {
  content: "02";
}

.slider__item:last-child::after {
  content: "03";
}

.slider__item::before {
  content: "";
  position: absolute;
  background-color: #ffe17f;
  width: 100%;
  height: 150px;
  z-index: -1;
}

.slider-item__link {
  width: 220px;
  margin-bottom: 70px;
}

.slider-item__description-wrapper {
  padding-top: 123px;
}

.slider-item__promo-text {
  margin: 0 0 19px 0;
}

.slider-item__description {
  margin-top: 0;
  margin-bottom: 32px;
  color: #444444;
}

.slider-item__features-table {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.slider-item__feature-column {
  min-width: 140px;
  display: flex;
  flex-direction: column;
}

.slider-item__feature-name {
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #444444;
}

.slider-item__feature-text {
  margin: 0;
  min-height: 52px;
  order: -1;
  font-size: 36px;
  font-weight: normal;
}

.slider__button--next,
.slider__button--previous {
  padding: 10px;
  width: 40px;
  height: 80px;
  border: 2px solid white;
  z-index: 1;
}

.slider__button--next {
  position: absolute;
  top: 250px;
  left: 521px;
  background: #fff url("../img/icons/arrow-right.svg") center / 20px 60px
    no-repeat;
}

.slider__button--previous {
  position: absolute;
  top: 250px;
  left: 19px;
  background: #fff url("../img/icons/arrow-left.svg") center / 20px 60px
    no-repeat;
}

.slider__button--next:focus,
.slider__button--previous:focus {
  outline: none;
  border: 2px solid #af4fff;
  border-radius: 6px;
}

.slider__button--next:hover,
.slider__button--previous:hover {
  opacity: 0.6;
}

.slider__button--next:active,
.slider__button--previous:active {
  border-color: #fff;
  opacity: 0.3;
}

.slider__pagination {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 339px;
  right: 55px;
  display: flex;
  gap: 22px;
  list-style-type: none;
}

.slider__pagination-button {
  padding: 0;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  border: 2px solid #000000;
}

.slider__pagination-button--active {
  background-color: #000;
}

.slider__pagination-button:focus {
  outline: none;
  border-color: #af4fff;
}

.slider__pagination-button:hover {
  opacity: 0.6;
}

.slider__pagination-button:active {
  border-color: #000;
  opacity: 0.3;
}

/* Catalog */
.main__catalog {
  margin-bottom: 69px;
}

.catalog {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.catalog__container {
  width: 1160px;
  margin: 0 auto;
}

.catalog__item {
  width: 160px;
}

.catalog__image-wrapper {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe17f;
  box-sizing: border-box;
  transition: 0.2s all ease-in;
}

.catalog__image--monopod {
  align-self: flex-end;
}

.catalog__link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: inherit;
  text-decoration: none;
}

.catalog__link:hover .catalog__image-wrapper {
  background-color: #ffc700;
}

.catalog__link:focus {
  outline: none;
}

.catalog__link:focus .catalog__image-wrapper {
  outline: 5px solid #af4fff;
}

.catalog__link:focus .catalog__text {
  color: #af4fff;
}

.catalog__link:active {
  outline: none;
}

.catalog__link:active .catalog__image-wrapper {
  background-color: #ffc700;
  outline: none;
}

.catalog__link:active .catalog__text {
  opacity: 0.3;
  color: #000;
}

.catalog__text {
  margin-bottom: 0;
  transition: 0.2s all ease-in;
}

/* Services */
.main__services {
  background-color: #f0f0f0;
  height: 388px;
  z-index: 0;
  position: relative;
}

.main__services::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100px;
}

.services__container {
  width: 1160px;
  margin: 0 auto;
}

.services__tabs {
  display: grid;
  grid-template-columns: 280px 1fr;
}

.tabs__list {
  margin: 0;
  padding: 80px 0 0 0;
  position: relative;
  list-style-type: none;
}

.tabs__list::after {
  height: 319px;
  width: 7px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;
}

.tabs__list-item {
  margin-bottom: 23px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.tab__list-item--active {
  background-color: #000000;
}

.tab__list-item--active .tab__button {
  color: #ffe17f;
}

.tab__list-item--active .tab__button:active {
  color: #ffe17f;
  background-color: #000;
  opacity: 1;
}

.tab__button {
  padding: 9px 0 11px 0;
  margin-right: 117px;
  min-width: 160px;
}

.tab__button::after {
  top: 15px;
  background-color: #ffc700;
}

.tabs__main {
  position: relative;
}

.tab {
  position: absolute;
  display: none;
  padding-left: 120px;
  padding-right: 100px;
  padding-top: 70px;
}

.tab--active {
  display: flex;
}

.tab__content {
  display: grid;
  grid-template-areas:
    "title logo"
    "description logo";
}

.tab__title {
  margin: 0;
  margin-bottom: 14px;
  grid-area: title;
}

.tab__image {
  width: 132px;
  height: 158px;
  margin-top: 15px;
  grid-area: logo;
}

.tab__description {
  margin: 0;
  width: 497px;
  grid-area: description;
  color: #444444;
}

.tab__image--delivery {
  background: url("../img/services/delivery.svg") center / contain no-repeat;
}

.tab__image--warranty {
  background: url("../img/services/warranty.svg") center / contain no-repeat;
}

.tab__image--credit {
  background: url("../img/services/credit.svg") center / contain no-repeat;
}

/* Shipping of rare products */
.shipping-of-rare-products__inner {
  width: 1160px;
  height: 100px;
  margin: 90px auto 97px auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  background-color: #f0f0f0;
  transition: 0.2s all ease-in;
}

.shipping-of-rare-products__inner::before {
  content: "";
  position: absolute;
  width: 125px;
  height: 100px;
  left: 0;
  top: 0;
  background-color: #ffe17f;
  transition: 0.2s all ease-in;
}

.shipping-of-rare-products__inner::after {
  content: "";
  position: absolute;
  width: 125px;
  height: 100px;
  left: 0;
  top: 0;
  background: transparent url("../img/icons/shipping.svg") center / 47px 31px
    no-repeat;
  transition: 0.2s all ease-in;
}

.shipping-of-rare-products__inner:focus {
  outline: 5px solid #af4fff;
}

.shipping-of-rare-products__inner:hover {
  background-color: #ebebeb;
}

.shipping-of-rare-products__inner:hover::before {
  background-color: #ffc700;
}

.shipping-of-rare-products__inner:hover .shipping-of-rare-products__tip-icon {
  opacity: 1;
}

.shipping-of-rare-products__inner:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.shipping-of-rare-products__inner:active::after {
  opacity: 0.3;
}

.shipping-of-rare-products__inner:active .shipping-of-rare-products__tip-icon {
  opacity: 0.3;
}

.shipping-of-rare-products__text {
  padding: 37px 125px 43px 140px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.shipping-of-rare-products__tip-icon-wrapper {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  right: 33px;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
  transform: translateY(-50%);
}

.shipping-of-rare-products__tip-icon {
  opacity: 0.3;
  transition: 0.2s opacity ease-in;
}

/* About */
.main__about,
.main__contacts {
  padding-bottom: 87px;
  width: 560px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about__line,
.contacts__line {
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about__title,
.contacts__title {
  margin: 42px 0 26px 0;
}

.about__delivery-options {
  color: #444444;
  flex-grow: 1;
}

.about__text {
  margin-top: 0;
  color: #444444;
}

.about__delivery-companies {
  margin-top: 23px;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}

.about__delivery-companies-item {
  position: relative;
  padding-bottom: 25px;
  padding-left: 34px;
  font-weight: 700;
  line-height: 20px;
}

.about__delivery-companies-item::before {
  content: "";
  margin-right: 22px;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0px;
  top: 6px;
  background-color: #ffc700;
  border-radius: 50%;
}

.about__more-link,
.contacts__write-button {
  width: 260px;
  margin-top: 52px;
}

/* Contacts */
.contacts__subtitle {
  margin: 15px 0;
}

.contacts__schedule {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contacts__text {
  margin-top: 0;
  color: #444444;
  font-style: normal;
}

.contacts__contacts-item,
.contacts__schedule-item {
  margin: 0;
  color: #444444;
  font-style: normal;
}

.contacts__contacts {
  margin-bottom: 30px;
}

/* Subscribe */
.main__subscribe {
  padding: 75px 0 131px 0;
  background-color: #f0f0f0;
}

.subscribe__container {
  margin: 0 auto;
  width: 1160px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 50px;
  align-items: center;
}

.subscribe__title {
  margin: 0;
  grid-column: span 2;
}

.subscribe__text {
  margin: 0;
  grid-column: span 2;
  color: #444444;
}

.subscribe__form {
  display: flex;
  justify-content: stretch;
  grid-column: span 3;
}

.subscribe__form-field {
  max-width: 580px;
  height: 55px;
  padding: 0;
  flex-grow: 1;
  font-size: 18px;
  box-sizing: border-box;
  background: transparent;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.subscribe__form-field::placeholder {
  color: rgba(68, 68, 68, 0.5);
  font-size: 18px;
}

.subscribe__form-field:focus {
  outline: none;
  background-color: #dcdcdc;
  transition: 0.2s all ease-in;
}

.subscribe__form-field:hover {
  border-color: rgba(0, 0, 0, 0.2);
}

.subscribe__form-field:active {
  border-color: #000;
}

.subscribe__form-field:invalid {
  border-color: #ff3d3d;
}

.subscribe__for-free-tip {
  padding-left: 35px;
  margin-left: auto;
  position: relative;
  color: #444444;
}

.subscribe__for-free-tip::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/icons/done.svg") center / 14px 14px no-repeat;
}

.subscribe__form-submit {
  width: 260px;
  transition: 0.2s all ease-in;
}

.subscribe__form-submit:focus {
  border-color: #af4fff;
}

.subscribe__form-submit:hover {
  color: #fff;
  border-color: #000;
  background-color: #000;
}

.subscribe__form-submit:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: #000;
  background-color: #000;
}

/* Footer */
.page__footer {
  color: #ffffff;
  background-color: #444444;
}

.footer__container {
  margin: 0 auto;
  padding: 61px 0;
  width: 1160px;
  display: flex;
  flex-direction: column;
}

.footer__logo {
  padding-bottom: 35px;
}

.footer__contacts {
  margin-bottom: 66px;
  display: flex;
}

.footer__contacts-list-item {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

.footer__contacts-list {
  display: contents;
}

.footer__contacts-list-item:first-child {
  order: -1;
}

.footer__contacts-list-item:last-child {
  white-space: nowrap;
  margin-left: auto;
  display: block;
  align-self: flex-start;
  padding: 3px 15px 3px;
  border-radius: 25px;
  border: 2px solid transparent;
  transition: 0.2s all ease-in;
}

.footer__contacts-list-item:last-child:focus {
  outline: none;
  border-color: #af4fff;
}

.footer__contacts-list-item:last-child:hover {
  color: #ffc700;
}

.footer__contacts-list-item:last-child:active {
  border-color: transparent;
  opacity: 0.3;
}

.footer__contacts .main-navigation {
  margin: 0;
  margin-left: -85px;
  padding: 0;
  flex-grow: 1;
  justify-content: center;
  gap: 20px;
  flex-basis: unset;
}

.footer__contacts .main-navigation__item {
  flex-basis: 140px;
  text-align: center;
}

.footer__contacts .main-navigation__link:hover {
  color: #ffc700;
  text-underline-offset: 8px;
  text-decoration: underline #ffc700 2px;
}

.footer__contacts .main-navigation__link:active {
  border-color: transparent;
  color: #ffc700;
  text-underline-offset: 8px;
  text-decoration: underline #ffc700 2px;
  opacity: 0.3;
}

/* Socials */
.footer__socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.socials__line {
  width: 80px;
  height: 7px;
  background-color: #ffc700;
}

.socials__academy-link {
  padding: 10px;
  display: flex;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.2s all ease-in;
}

.socials__academy-link:focus {
  outline: none;
  border-color: #af4fff;
}

.socials__academy-link:hover path {
  fill: #fff;
}

.socials__academy-link:active {
  border-color: transparent;
}

.socials__academy-link:active .socials__academy-image {
  opacity: 0.3;
}

.socials__academy-image path {
  transition: 0.2s all ease-in;
}

.socials__link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border: 5px solid #444444;
  transition: 0.2s border ease-in, 0.2s background-color ease-in;
}

.socials__link:focus {
  border-color: #af4fff;
  background-color: transparent;
  outline: none;
}

.socials__link:focus .socials__icon path {
  fill: #fff;
}

.socials__link:hover {
  background-color: #ffc700;
}

.socials__link:hover .socials__icon path {
  fill: #444444;
}

.socials__link:active {
  border-color: #444444;
  background-color: #ffc700;
}

.socials__link:active .socials__icon {
  opacity: 0.3;
}

/* Catalog container */
.catalog-page__container {
  margin: 37px auto 49px auto;
  padding: 0 40px 0 40px;
  width: 1080px;
}

.catalog-page__title {
  margin: 0 0 14px 20px;
}

/* Breadcrumbs */
.breadcrumbs {
  margin: 0;
  padding: 0 0 0 8px;
  display: flex;
  list-style-type: none;
  gap: 36px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  width: 4px;
  height: 7px;
  top: 13px;
  right: -20px;
  position: absolute;
  background: #fff url("../img/icons/breadcrumb-arrow.svg") center / 4px 7px
    no-repeat;
  opacity: 0.2;
}

.breadcrumbs-link {
  padding: 5px 12px 6px 13px;
  display: block;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  transition: 0.2s all ease-in;
}

.breadcrumbs-link:focus {
  outline: 5px solid #af4fff;
}

.breadcrumbs-link:hover {
  color: #000;
}

.breadcrumbs-link:active {
  outline: none;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-link--disabled:hover,
.breadcrumbs-link--disabled:active,
.breadcrumbs-link--disabled:focus {
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}

/* Catalog page */
.catalog-page {
  display: flex;
}

.catalog-page__columns {
  width: 100%;
  display: flex;
  justify-content: stretch;
}

.catalog-page__column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.catalog-page__filters {
  width: 33%;
  background-color: #e5e5e5;
}

.form-title {
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter__wrapper {
  padding: 0;
  display: flex;
  flex-direction: column;
  border: none;
}

.filter__name {
  padding-top: 12px;
  width: 100%;
  border-top: 2px solid #000;
}

.filters__title {
  margin: 0;
  width: 100%;
  padding: 25px 32px 25px 200px;
  display: block;
  background-color: #dcdcdc;
}

.filters__container {
  padding-top: 71px;
  width: 200px;
  margin-left: auto;
  margin-right: 69px;
}

.filters__submit {
  width: 200px;
}

.filter__name {
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.filter__input,
.price-range-label {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  background: none;
  border: none;
}

.filter__label-text {
  font-size: 16px;
  line-height: 19px;
}

.catalog-page__sorting {
  padding: 25px 0 25px 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ebebeb;
}

.catalog-page__sorting-container {
  width: 760px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-page__sorting-by-type {
  display: flex;
  align-items: center;
}

.sorting-by-type__title {
  padding-right: 50px;
  margin: 0;
}

.sorting__type {
  padding-right: 15px;
  font-size: 16px;
  line-height: 19px;
  background: none;
  border: none;
}

.catalog-page__sorting-order {
  display: flex;
  gap: 19px;
}

.catalog-page__abs-sorting-button,
.catalog-page__desc-sorting-button {
  width: 11px;
  height: 10px;
}

.catalog-page__abs-sorting-button {
  background: url("../img/icons/sort-up.svg") center / 11px 10px no-repeat;
}

.catalog-page__desc-sorting-button {
  background: url("../img/icons/sort-down.svg") center / 11px 10px no-repeat;
}

.catalog-page__sorting-button--active {
  opacity: 0.2;
}

/* Products */
.catalog-page__products-wrapper {
  width: 760px;
  padding-left: 72px;
  padding-top: 69px;
}

.catalog-page__products {
  padding-bottom: 44px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 40px;
  row-gap: 44px;
}

.product {
  position: relative;
  width: 360px;
  height: 462px;
}

.product__link {
  color: #000;
  text-decoration: none;
}

.product:hover .product__image {
  opacity: 0.5;
}

.product:hover .product__label-wrapper {
  opacity: 0.5;
}

.product:hover .product__more-button {
  opacity: 1;
}

.product__details {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product__title {
  margin: 0;
  width: 280px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.product__price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.product__label-wrapper {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 27px;
  right: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.6);
}

.product__label {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.product__more-button {
  width: 180px;
  position: absolute;
  left: 50%;
  top: 180px;
  transform: translateX(-50%);
  opacity: 0;
}

.product__more-button::after {
  background-color: #ffc700;
}

.catalog-page__load-more-button {
  margin-bottom: 51px;
  width: 100%;
}

/* Pagination */
.catalog-page__pagination {
  padding: 0;
  margin: 0 0 77px 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  background-color: #ebebeb;
}

.pagination__link {
  padding-top: 27px;
  padding-bottom: 24px;
  display: block;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  color: rgba(68, 68, 68, 0.3);
}

.pagination__link--previous-page,
.pagination__link--next-page {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
