/* Common styles */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Header */
.header__logo,
.footer__logo {
  width: 145px;
  height: 36px;
}

.user-navigation__link {
  position: relative;
}

.user-navigation__link--search {
  padding-left: 36px;
}

.user-navigation__link--user {
  padding-left: 25px;
}

.user-navigation__link--compare {
  padding-left: 20px;
}

.user-navigation__link--cart {
  padding-left: 41px;
}

.user-navigation__link--search::before,
.user-navigation__link--user::before,
.user-navigation__link--compare::before,
.user-navigation__link--cart::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.user-navigation__link--search::before {
  width: 15px;
  height: 15px;
  background: url("/img/icons/header/search.svg") #ffe17f no-repeat center / contain;
}

.user-navigation__link--user::before {
  width: 13px;
  height: 12px;
  background: url("/img/icons/header/user.svg") #ffe17f no-repeat center / contain;
}

.user-navigation__link--compare::before {
  width: 10px;
  height: 12px;
  background: url("/img/icons/header/compare.svg") #ffe17f no-repeat center /
    contain;
}

.user-navigation__link--cart::before {
  width: 16px;
  height: 14px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  background: url("/img/icons/header/cart.svg") #ffe17f no-repeat center / contain;
}

.user-navigation__items-in-cart-wrapper {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

/* Slider */
.slider-item__image {
  width: 560px;
  height: 560px;
}

.slider__button--next,
.slider__button--previous {
  width: 20px;
  height: 60px;
  border: none;
}

.slider__button--next {
  background: url("/img/icons/arrow-right.svg") #fff center / contain
    no-repeat;
}

.slider__button--previous {
  background: url("/img/icons/arrow-left.svg") #fff center / contain
    no-repeat;
}

/* Catalog */
.catalog__image {
  width: 160px;
  height: 160px;
}

.catalog__image--vr {
  background: url("/img/catalog/vr.svg") #ffe17f center / 97px 55px no-repeat;
}

.catalog__image--monopod {
  background: url("/img/catalog/monopod.svg") #ffe17f bottom / 86px 117px
    no-repeat;
}

.catalog__image--action-camera {
  background: url("/img/catalog/action-camera.svg") #ffe17f center / 71px 87px
    no-repeat;
}

.catalog__image--fitness-tracker {
  background: url("/img/catalog/fitness-tracker.svg") #ffe17f center / 107px
    65px no-repeat;
}

.catalog__image--watch {
  background: url("/img/catalog/watch.svg") #ffe17f center / 56px 98px
    no-repeat;
}

.catalog__image--quadrocopter {
  background: url("/img/catalog/quadrocopter.svg") #ffe17f center / 132px 69px
    no-repeat;
}

/* Services */
.tab__image {
  width: 132px;
  height: 158px;
}

.tab__image--delivery {
  background: url("/img/services/delivery.svg") center / contain no-repeat;
}

.tab__image--warranty {
  background: url("/img/services/warranty.svg") center / contain no-repeat;
}

.tab__image--credit {
  background: url("/img/services/credit.svg") center / contain no-repeat;
}

/* Shipping of rare products */
.shipping-of-rare-products {
  background: #f0f0f0;
  padding: 37px 125px 43px 140px;
  position: relative;
  height: 20px;
}

.shipping-of-rare-products::before {
  content: "";
  position: absolute;
  width: 125px;
  height: 100px;
  left: 0;
  top: 0;
  background: url("/img/icons/shipping.svg") #ffe17f center / 47px 31px
    no-repeat;
}

.shipping-of-rare-products::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  right: 33px;
  top: 50%;
  background: url("/img/icons/info-grey.svg") rgba(220, 220, 220, 0.5) center /
    2px 12px no-repeat;
  border-radius: 50%;
  transform: translateY(-50%);
}

/* About */
.about__line,
.contacts__line {
  width: 80px;
  height: 7px;
  background-color: black;
}

/* Subscribe */
.subscribe__for-free-tip {
  position: relative;
  padding-left: 35px;
}

.subscribe__for-free-tip::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0;
  background: url("/img/icons/done.svg") center / 14px 14px no-repeat;
}

/* Footer */
.page__footer {
  background: #444444;
}

/* Socials */
.socials__line {
  width: 80px;
  height: 7px;
  background-color: #ffc700;
}

.socials__academy-link {
  width: 115px;
  height: 33px;
}

.socials__academy-image {
  width: 115px;
  height: 33px;
}

.socials__link {
  width: 100%;
  height: 100%;
}

.socials__item {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.socials__item--facebook {
  background: url("/img/icons/socials/facebook.svg") rgba(255, 255, 255, 0.3) center /
    9px 18px no-repeat;
}

.socials__item--instagram {
  background: url("/img/icons/socials/instagram.svg") rgba(255, 255, 255, 0.3) center /
    16px 16px no-repeat;
}

.socials__item--twitter {
  background: url("/img/icons/socials/tweeter.svg") rgba(255, 255, 255, 0.3) center /
    15px 14px no-repeat;
}


/* Catalog - Sorting  */
.catalog__abs-sorting-button,
.catalog__desc-sorting-button {
  width: 11px;
  height: 10px;
}

.catalog__abs-sorting-button {
  background: url('/img/icons/sort-up.svg') center / 11px 10px no-repeat;
}

.catalog__desc-sorting-button {
  background: url('/img/icons/sort-down.svg') center / 11px 10px no-repeat;
}

.catalog__sorting-button--active {
  opacity: 0.2;
}

/* Catalog - Products */
.product__image {
  height: 360px;
  width: 360px;
}